* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  background-image: url("assets/image/bubble-animated-background.svg");
  background-size: cover;
  background-attachment: fixed;
  font-family: "Red Hat Display";
  scroll-behavior: smooth;
}
